<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Privacy Type Classifier
		</div>

	</div>
	</header>
	<div class="results">
		<br />

		<strong>Most Recurring Privacy Type: </strong>
		{% if counts[0] > counts[1] %}
		<h2>NonPrivate</h2>
		{% elif counts[1] > counts[0] %}
		<h2>Private</h2>
		{% endif %}

		<strong>Statistics: </strong>
		<br />
		NonPrivate: {{ 100*counts[0]/ (counts[0]+counts[1]) }}% ( {{ counts[0] }} )
		<br />
		Private: {{100*counts[1]/ (counts[0]+counts[1]) }}% ( {{ counts[1]}} )
		<br />
		<br />

		<strong>Individual Statement Breakdown: </strong>
		<br />
		{% for i in range(counts[0]+counts[1]) %}
		Statement: {{ sentences[i]}}
		<br />
		Prediction:{{ predictions[i] }}
		<br />
		Probability: {{ prob[i][ predictions[i] ] }} 
		<br>
		<br />
		{% endfor %}


	</div>

</body>
</html>
