<!DOCTYPE html>
<html>
<body>
	<header>
		<div class="container">
		<div id="brandname">
			Sentiment Analysis with Flask
		</div>
		<h2>Sentiment Analysis</h2>

	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">

	</form>

	</div>

  <p>Click on the "Choose File" button to upload a file:</p>

  <form action="{{ url_for('file')}}" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" value="file">
  <input type="submit"  value="Upload File">
  </form>

</body>
</html>
