<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Sentiment Analsysis with Flask
		</div>

	</div>
	</header>
	<div class="results">
		<br />

		<strong>Most Recurring Sentiment: </strong>
		{% if counts[0] > counts[1] and counts[0] > counts[2] %}
		<h2 style="color:red;">Negative</h2>
		{% elif counts[1] > counts[0] and counts[1] > counts[2] %}
		<h2 style="color:blue;">Neutral</h2>
		{% elif counts[2] > counts[0] and counts[2] > counts[1] %}
		<h2 style="color:green;">Positive</h2>
		{% endif %}

		<strong>Statistics: </strong>
		<br />
		Negative: {{ 100*counts[0]/ (counts[0]+counts[1]+counts[2]) }}% ( {{ counts[0]}} )
		<br />
		Neutral: {{100*counts[1]/ (counts[0]+counts[1]+counts[2])}}% ( {{ counts[1]}} )
		<br />
		Positive: {{100*counts[2]/ (counts[0]+counts[1]+counts[2])}}% ( {{ counts[2]}} )
		<br />
		<br />

		<strong>Individual Statement Breakdown: </strong>
		<br />
		{% for i in range(counts[0] + counts[1] + counts[2] ) %}
		Statement: {{ sentences[i]}}
		<br />
		Prediction: {{predictions[i]}}
		<br />
		Probability: Negative = {{ prob[i]['negative'] }} Neutral = {{ prob[i]['neutral'] }} Positive {{ prob[i]['positive'] }}
		<br>
		<br />
		{% endfor %}

		<img src="/plot.png" alt="my plot">

	</div>

</body>
</html>
