<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Survey Question Answer Type Classifier
		</div>

	</div>
	</header>
	<div class="results">
		<br />

		<strong>Most Recurring Question: </strong>
		{% if counts[0] > counts[1] and counts[0] > counts[2] and counts[0] > counts[3] and counts[0] > counts[4] and counts[0] > counts[5] and counts[0] > counts[6] and counts[0] > counts[7] %}
		<h2>Small Text</h2>
		{% elif counts[1] > counts[0] and counts[1] > counts[2] and counts[1] > counts[3] and counts[1] > counts[4] and counts[1] > counts[5] and counts[1] > counts[6] and counts[1] > counts[7] %}
		<h2>Small Text - Location</h2>
		{% elif counts[2] > counts[0] and counts[2] > counts[1] and counts[2] > counts[3] and counts[2] > counts[4] and counts[2] > counts[5] and counts[2] > counts[6] and counts[2] > counts[7]  %}
		<h2>Small Text - Person</h2>
		{% elif counts[3] > counts[0] and counts[3] > counts[1] and counts[3] > counts[2] and counts[3] > counts[4] and counts[3] > counts[5] and counts[3] > counts[6] and counts[3] > counts[7]  %}
		<h2>Long Text</h2>
		{% elif counts[4] > counts[1] and counts[4] > counts[2] and counts[4] > counts[3] and counts[4] > counts[0] and counts[4] > counts[5] and counts[4] > counts[6] and counts[4] > counts[7]  %}
		<h2>Multiple Choice</h2>
		{% elif counts[5] > counts[1] and counts[5] > counts[2] and counts[5] > counts[3] and counts[5] > counts[4] and counts[5] > counts[0] and counts[5] > counts[6] and counts[5] > counts[7]  %}
		<h2>Date and Time</h2>
		{% elif counts[6] > counts[1] and counts[6] > counts[2] and counts[6] > counts[3] and counts[6] > counts[4] and counts[6] > counts[5] and counts[6] > counts[0] and counts[6] > counts[7]  %}
		<h2>Yes or No</h2>
		{% elif counts[7] > counts[1] and counts[7] > counts[2] and counts[7] > counts[3] and counts[7] > counts[4] and counts[7] > counts[5] and counts[7] > counts[6] and counts[7] > counts[0]  %}
		<h2>Numeric</h2>
		{% endif %}

		<strong>Statistics: </strong>
		<br />
		Small Text: {{ 100*counts[0]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[0] }} )
		<br />
		Small Text - Location: {{100*counts[1]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[1]}} )
		<br />
		Small Text - Person: {{100*counts[2]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[2]}} )
		<br />
		Long Text: {{ 100*counts[3]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[3]}} )
		<br />
		Multiple Choice: {{100*counts[4]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[4]}} )
		<br />
		Date and Time: {{100*counts[5]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[5]}} )
		<br />
		Yes/No: {{100*counts[6]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[6]}} )
		<br />
		Numeric: {{100*counts[7]/ (counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7]) }}% ( {{ counts[7]}} )
		<br />
		<br />

		<strong>Individual Statement Breakdown: </strong>
		<br />
		{% for i in range(counts[0]+counts[1]+counts[2]+counts[3]+counts[4]+counts[5]+counts[6]+counts[7] ) %}
		Statement: {{ sentences[i]}}
		<br />
		Prediction:{{ predictions[i] }}
		<br />
		Probability: {{ prob[i][ predictions[i] ] }} 
		<br>
		<br />
		{% endfor %}


	</div>

</body>
</html>
